<!DOCTYPE html>
<html>
    <head>
        <%- partial("partials/head") %>
    </head>
    <body>
        <%- partial("partials/header") %>
        <%- body %>
        <%- partial("partials/pagination") %>
        <%- partial("partials/footer") %>
    </body>
</html>
